/* Universal styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    min-height: 100vh;
}

/* Navbar section */
nav {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #21222A;
}

nav img {
    margin: 1%;
}

nav h3 {
    color: #DEEBF8;
    margin-left: auto;
}

.react-logo {
    width: 10%
}

.react-logo-text {
    width: 20%;
}

/* Main content section */
.main-content {
    background-color: #282D35;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./images/reactjs-icon\ 2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    padding: 4em;
}

.main-content h1 {
    font-family: inter;
    font-size: 3em;
}

.main-content ul {
    line-height: 2em;
    font-size: 1.5em;
    padding-top: 1em;
}

li {
    list-style-type: none;
    font-family: inter;
}

li::before {
    content: '';
    display: inline-block;
    height: .5em;
    width: .5em;
    background-image: url(./images/Ellipse\ 1.png);
    background-size: cover;
    margin-right: .5em;
}